.head{
    width: 81vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}
.imgs{
    width: 80px;
}
.items {
    width: 81vw;
    display: flex;
    justify-content: space-between;
    padding: 30px;
}